<div class="navbar">
    <span class="menu-icon" (click)="toggleMenu()">&#9776;</span>
    <div class="sidenav" [class.open]="menuOpen">
      <a routerLink="/personal-info" routerLinkActive="active" (click)="closeMenu()">Informations Personnelles</a>
      <a routerLink="/project-info" routerLinkActive="active" (click)="closeMenu()">Informations Projet</a>
    </div>
    <div class="topnav">
      <a routerLink="/personal-info" routerLinkActive="active">Informations Personnelles</a>
      <a routerLink="/project-info" routerLinkActive="active">Informations Projet</a>
    </div>
  </div>
  